<section>
  <div class='d-flex align-items-center my-4'>
    <p class='text-secondary m-0 mr-3'>Event title :</p>
    <h1 class='font-weight-bold'><%= @event.title %></h1>
  </div>
  <div class="container border">
    <div class="row">
      <div class="col-8 event_description ">
        <h2>Description</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Voluptatem recusandae voluptas ipsam adipisci molestiae ecusandae 
        voluptas ipsam adipisci molestiae ecusandae 
        voluptas ipsam adipisci molestiae ecusandae voluptas ipsam adipisci
         molestiae ecusandae voluptas ipsam adipisci molestiae non accusamus
         veritatis provident laborum error.</p>
      </div>
      <div class="col-4">
        attendees
      </div>
    </div>
  </div>
</section>
